[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false

[dev-packages]
coverage = "*"
watchdog = "*"
faker = "*"
twine = "*"
pipfile = "*"

[packages]
flask = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-moment = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
flask-migrate = "*"
flask-caching = "*"
flask-whooshee = "*"
flask-dropzone = "*"
pillow = "*"
flake8 = "*"
pymysql = "*"
cryptography = "*"
requests = "*"
xmltodict = "*"
qrcode = "*"
alipay-python = "*"
flask-alipay = "*"
click = "*"
pipfile = "*"
simplejson = "*"
flask-wxpay-plus = "*"
mysql-connector-python = "*"
email-validator = "*"
pyecharts = "*"
pandas = "*"

[requires]
python_version = "3.7"
