{% extends "admin/admin_base.html" %}
{% block title %}
    <title>清心涟漪 | 管理后台 | 添加地区</title>
{% endblock %}

{% block  content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("html") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("admin.index") }}"> 管理后台</a></span>
                        <span><a href="{{ url_for("admin.manage_category") }}"> 地区管理</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-3 col-lg-7 col-md-8 col-sm-9 col-10">
                <h2 class="text-center"><b>添加地区</b> -
                    <small><small><a href="{{ url_for("admin.manage_category") }}">添加地区</a></small></small></h2>
                <hr>
                <br>
                {% if message %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <div class="body">
                    <form action="" method="post">
                        <div id="tips"></div>
                        <div class="form-group" id="place_select">
                        </div>
                        <div class="form-group">
                            <label for="title">地区名称:</label>
                            <input class="form-control" type="text" name="place_name" id="place_name" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="order">显示顺序:</label>
                            <input class="form-control" type="text" name="place_order" id="place_order" value="0"/>
                        </div>
                        <div class="form-group">
                            {{ form.csrf_token }}
                            <input type="hidden" id="parent_id" value="0">
                            <input type="button" class="btn site-btn login-btn" value="添加地区"/>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script>
        var add_url = "{{ url_for('admin.new_area') }}"
        var csrf_token = "{{ csrf_token() }}"
        var place_select = document.querySelector("#place_select")
        var parent_id = 0
        var tips = document.querySelector("#tips")
        var name_input = document.querySelector("#place_name")
        var order_id_input = document.querySelector("#place_order")
        var btn = document.querySelector(".btn")

        // 建立多级菜单
        function createSelect(data, level = 0) {
            var select = document.createElement("select")
            select.options.add(new Option("请选择所属类别", 0))
            for (option in data) {
                console.log(option)
                select.options.add(new Option(data[option][0], data[option][1]))
            }

            select.options[0].selected = true
            select.className = "form-control"
            select.setAttribute("data-level", level)
            select.onchange = function () {
                parent_id = this.options[this.selectedIndex].value
                $(this).next().remove()
                load_area(parent_id)
            }
            place_select.appendChild(select)
        }

        // 读取多级菜单
        function load_area(parent_id = 0) {
            $.ajax({
                url: "{{ url_for("admin.get_area") }}?parent_id=" + parent_id,
                method: "get",
                success: function (data) {
                    if (data.length > 0) {
                        createSelect(data)
                    }
                }
            })
        }

        // 发送新建地区
        function add_new_area() {
            place_name = $("#place_name").val()
            place_order = $("#place_order").val()
            place_type = $("input[name='place_type']:checked").val()
            $.ajax({
                url: "{{ url_for("admin.new_area") }}",
                type: "post",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                },
                data: {
                    "parent_id": parent_id,
                    "place_name": place_name,
                    "place_order": place_order,
                    "place_type": place_type
                },
                success: function (data) {
                    if (data == "ok") {
                        tips.innerHTML = "添加成功"
                    } else {
                        tips.innerHTML = data
                    }
                }
            })
        }

        btn.onclick = add_new_area
        window.onload = function () {
            load_area(0)
        }

    </script>
{% endblock %}

