{% extends "admin/admin_base.html" %}
{% from "admin/area/area_list_item.html" import area_items %}

{% block title %}
    <title>清心涟漪 | 管理后台 | 地区管理</title>
{% endblock %}

{% block style %}
    <style type="text/css">
        .edit-btn {
            margin-left: 15px;
        }

        .area_li {
            height: auto;
            line-height: 32px;
            list-style-type: none;
        }

        .area_li:before {
            content: "|-- "
        }

        ul {
            padding-left: 36px;
        }
    </style>
{% endblock %}

{% block  content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("html") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("admin.index") }}"> 管理后台</a></span>
                        <span><a href="{{ url_for("admin.manage_area") }}"> 地区管理</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-6 col-lg-7 col-md-8 col-sm-9 col-10">
                <h2 class="text-center"><b>地区列表</b> -
                    <small><small><a href="{{ url_for("admin.new_area") }}">添加地区</a></small></small></h2>
                {% if message %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if areas %}
                    <ul>
                        {{ area_items(areas) }}
                    </ul>
                {% else %}
                    <div class="tip"><h5>没有地区</h5></div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}"

        // 删除分类
        function delete_area(place_id) {
            {# if (!confirm("删除分类同时会删除商品")) { #}
            {#    return false} #}
            console.log(this)
            $.ajax({
                url: "{{ url_for("admin.delete_area") }}",
                type: "post",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                },
                data: {place_id: place_id},
                success: function (data) {
                    if (data == "ok") {
                        document.getElementById('li_' + place_id).remove()
                    }
                }
            })
        }
    </script>
{% endblock %}