{% extends "base.html" %}
{% block title %}
    <title>清心涟漪 | 商品列表</title>
{% endblock %}

{% block style %}
    <style type="text/css">
        .goods_thumb {
            height: 210px;
            width: 210px;
        }

        a:hover {
            color: #00a8c6;
        }
    </style>
{% endblock %}

{% block  content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("html") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("mall.index") }}"> 商品列表</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-6 col-lg-7 col-md-8 col-sm-9 col-10">
                {% if goods_list %}
                    <ul class="list-unstyled my-4">
                        {% for goods in goods_list %}
                            <li class="mt-5 media">
                                <img class="mr-4 goods_thumb" src="/uploads/{{ goods.thumb }}" alt="">
                                <div class="media-body">
                                    <h4 class="mt-0 mb-1"><a
                                            href="{{ url_for("mall.show_goods", category_id=goods.category_id, goods_id=goods.goods_id) }}">
                                        <b>{{ goods.goods_title }}</b></a></h4>
                                    <p>{{ goods.goods_subhead }}</p>
                                    <p>优惠价：<span class="price">{{ goods.price }} </span>元</p>
                                    <span class="float-left">
                                        {% if current_user.user_id %}
                                            <button class="btn site-btn cart-btn"
                                                    data-url="{{ url_for("member.add_cart", goods_id=goods.goods_id) }}">加入购物车</button>
                                        {% else %}
                                            <a class="btn site-btn" href="{{ url_for('auth.login') }}">加入购物车</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!-- 分页 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if res.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('mall.index', page=res.prev_num ) }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">上一页</span></a>
                            </li>
                        {% endif %}
                        {% for page in pageList %}
                            {% if page!=None %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ url_for('mall.index', page=page) }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if res.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('mall.index', page=res.next_num ) }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">下一页</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <br>
    <script>
        csrf_token = '{{ csrf_token() }}'
        $(function () {
            // 添加到购物车
            $(".cart-btn").on("click", function (e) {
                $.ajax({
                    url: $(this).data("url"),
                    type: "post",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.result) {
                            alert("添加成功")
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}


