{% extends "base.html" %}
{% block style %}
    <style type="text/css">
        .cart-btn {
            height: 30px;
            vertical-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm">

            </div>
            <div class="col-md-6">
                <!-- 媒体列表 -->
                <ul class="media-list">
                    {% if goods_list %}
                        {% for goods in goods_list %}

                            <li class="media">
                                <a href="" class="pull-left">
                                    <img src="/uploads/{{ goods.thumb }}" class="media-object">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                            href="{{ url_for(".show_goods", category_id=goods.category_id, goods_id=goods.goods_id) }}">{{ goods.goods_title }}</a>
                                    </h4>
                                    <div class="media">
                                        <p>{{ goods.price }}</p>
                                        <span class="float-left">
                                            <button class="btn btn-primary cart-btn"
                                                    data-url="{{ url_for("member.add_cart", goods_id=goods.goods_id) }}">加入购物车</button>
                                        </span>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}
                    {% endif %}

                </ul>

                <!-- 分页 -->
                <ul class="pagination">
                    {% for page in pageList %}
                        {% if page!=None %}
                            <li><a href="{{ url_for('mall_module.index', page=page) }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <script>
        csrf_token = '{{ csrf_token() }}'
        $(function () {
            // 添加到购物车
            $(".cart-btn").on("click", function (e) {
                $.ajax({
                    url: $(this).data("url"),
                    type: "post",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.result) {
                            alert("添加成功")
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}


