{% extends "admin/admin_base.html" %}
{% block title %}
    <title>清心涟漪 | 管理后台 | 修改商品</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dropzone.min.css") }}">
    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.style('margin: 0 0;padding:0; border: 2px dashed #0087F7; width:100%;height: 150px;') }}
    <style>
        .price .form-control {
            width: 30%;
            display: inline-block
        }

        .row .cke_chrome {
            padding: 1px;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("html") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("admin.index") }}"> 管理后台</a></span>
                        <span><a href="{{ url_for("admin.manage_goods") }}"> 商品管理</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12">
                <h2 class="text-center"><b>添加商品</b> -
                    <small><small><a href="{{ url_for("admin.manage_goods") }}">商品列表</a></small></small></h2>
                <div id="tips"></div>
                <div class="form-group" id="category_select"></div>
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.subhead.label }}
                    {{ form.subhead(class="form-control") }}
                </div>
                <div class="form-group price">
                    {{ form.price.label }}
                    {{ form.price(class="form-control") }}元
                </div>
                <div class="form-group">
                    {{ form.thumb.label }}
                    {{ form.thumb }}
                    {{ dropzone.create(action="admin.upload_thumb") }}
                </div>
                <div class="form-group">
                    {{ form.body.label }}
                    {{ form.body }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename="ckeditor/ckeditor.js") }}"></script>

    {# 加载插件 #}
    {% include "admin/goods/dropzone.html" %}
    {{ ckeditor.config(name='body', height=500, toolbar="full") }}

    <script type="text/javascript">
        var pic_array = []
        var add_url = "{{ url_for('admin.new_goods') }}"
        var csrf_token = "{{ csrf_token() }}"
        var category_select = $("#category_select")
        var parent_id = 0
        var tips = $("#tips")

        // 发送新建商品
        function add_new_goods() {
            cate_id = parent_id
            title = $('#title').val()
            subhead = $('#subhead').val()
            price = $('#price').val()
            thumb = pic_array[0]
            main_pic = JSON.stringify(pic_array)
            body = CKEDITOR.instances["body"].getData()

            $.ajax({
                url: add_url,
                type: "post",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                },
                data: {
                    "title": title, "subhead": subhead, "price": price,
                    "category": cate_id, "body": body,
                    'thumb': thumb, 'main_pic': main_pic
                },
                dataType: "json",
                success: function (data) {
                    if (data.goods_id) {
                        tips.html("添加成功" + data.goods_id)
                        $('#title').val("")
                        pic_array = []
                        CKEDITOR.instances["body"].setData()
                        $(".dz-preview").remove()
                    } else {
                        errors = ""
                        for (error in data) {
                            errors += error + "<br>"
                        }
                        tips.html("添加失败" + errors)
                    }
                }
            })
        }

        // 点击添加后，重新加载分类菜单
        $(function () {
            // var myDropzone = new Dropzone("#myDropzone",{})
            $('.btn').on('click', add_new_goods)
            category_url = "{{ url_for("admin.get_cate") }}"
            load_cate(0)
        })
    </script>
    <script type="text/javascript" src="{{ url_for("static" ,filename="js/category.js") }}"></script>
{% endblock %}