{% extends "admin/admin_base.html" %}

{% block title %}
    <title>清心涟漪 | 管理后台 | 商品管理</title>
{% endblock %}

{% block style %}
    <style type="text/css">
        .recommend {
            color: orange;
            border: 1px solid orange;
            font-size: 1.1em;
        }
    </style>
{% endblock %}

{% block  content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("html") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("admin.index") }}"> 管理后台</a></span>
                        <span><a href="{{ url_for("admin.manage_goods") }}"> 商品管理</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12">
                <h2 class="text-center"><b>商品管理</b> -
                    <small><small><a href="{{ url_for("admin.new_goods") }}">添加商品</a></small></small></h2>
                <div class="page-header">
                    <form action="{{ url_for("admin.manage_goods",page=1) }}" method="get" class="form-horizontal"
                          id="search_form">
                        <div class="form-group" id="category_select"></div>
                        <div class="form-group">
                            {{ form.keyword.label }}
                            {{ form.keyword }}
                        </div>
                        <div class="form-group">
                            {{ form.order_type.label }}
                            {{ form.order_type }}
                        </div>
                        <div class="form-group ">
                            {{ form.category_id }}
                            <input type="button" name="search" class="btn btn-primary pull-right search-btn"
                                   value="立即搜索">
                        </div>
                    </form>
                    <br>
                    <hr>
                    <h3>商品总数：<small class="text-muted">{{ pagination.total }}</small></h3>
                </div>
                {% if pagination.total > 0 %}
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>编号</th>
                            <th>商品名称</th>
                            <th>所属分类</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        {% for goods in pagination.items %}
                            <tr class="goods_{{ goods.goods_id }}">
                                <td>{{ loop.index + ((page - 1) * config.XPMALL_MANAGE_GOODS_PER_PAGE) }}<input
                                        type="checkbox" name="del_id" value="{{ goods.goods_id }}"/></td>
                                <td>
                                    <a class="goods_{{ goods.goods_id }}"
                                       href="{{ url_for('mall.show_goods', category_id=goods.category_id, goods_id=goods.goods_id) }}"
                                       target="_blank">{{ goods.goods_title }}</a></td>
                                <td>
                                    <a class="goods_{{ goods.goods_id }}"
                                       href="{{ url_for('admin.manage_goods', category_id=goods.category_id) }}">{{ goods.category.name }}</a>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm edit-btn"
                                       href="{{ url_for('admin.edit_goods', goods_id=goods.goods_id) }}">修改</a>
                                    <a class="btn btn-success btn-sm"
                                       href="javascript:goodsRecommend({{ goods.goods_id }})">推荐</a>
                                    <button type="submit" class="btn btn-danger btn-sm delete-btn"
                                            onclick="return confirm('确定删除商品吗?');"
                                            data-href="{{ url_for('admin.delete_goods', goods_id=goods.goods_id) }}">删除
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        <td colspan="4">
                            <input type="button" class="btn btn-primary all" value="全部选中"/>
                            <input type="button" class="btn btn-primary del-all" value="删除选中">
                            <span><small> 橙色商品为推荐商品，可一次推荐多个商品。已推荐商品再次点推荐，则取消推荐。</small></span>
                        </td>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% for page in pagination.iter_pages() %}
                                {% if page!=None %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ url_for("admin.manage_goods", page=page) }}?{{ condition }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                {% else %}
                    <div class="tip"><h5>暂无商品</h5></div>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /**
         * 修改
         */
        var csrf_token = "{{ csrf_token() }}"
        var parent_id = 0


        $(function () {
            $(".search-btn").on("click", function (event) {
                if (!$("#category_id").val()) {
                    $("#category_id").val(parent_id)
                    console.log(parent_id)
                }
                $("#search_form").submit()
            })
        })

        // 推荐商品
        function goodsRecommend(goods_id) {
            url = "{{ url_for("admin.goods_recommend") }}"
            $.ajax({
                type: "post",
                url: url,
                data: {'goods_id': goods_id},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "success") {
                        console.log($(".goods_" + data.id))
                        // 操作之后改变样式
                        $(".goods_" + data.id).toggleClass(data.type)
                    } else if (data.result == 'cancel') {
                        {#$(".goods_" + data.id).removeClass(data.type)#}
                        window.location.reload()
                    } else {
                        alert('过程发生错误，请重新尝试')
                    }
                }
            })
        }

        /**
         * 删除
         *
         */
        $(function () {
            $(".delete-btn").on("click", function (event) {
                var target = $(event.target);
                url = $(this).attr("data-href")
                {#console.log("ok")#}
                $.ajax({
                    url: url,
                    type: "post",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    },
                    data: {},
                    success: function (data) {
                        if (data == "ok") {
                            console.log(target.parent().parent().remove())
                        }
                    },
                })
            })
        })

        /**
         * 全部选中与取消
         */
        $(function () {
            $(".all").on('click', function (event) {
                if ($("input[name='del_id']").is(":checked")) {
                    $("input[name='del_id']").removeAttr("checked");
                } else {
                    $("input[name='del_id']").attr("checked", "true");
                }
            })
        })

        /**
         * 全部删除
         */
        $(function () {
            $(".del-all").on("click", function () {
                var checkID = []
                $("input[name='del_id']:checked").each(function (i) {
                    checkID[i] = $(this).val();
                })
                console.log(checkID)
                $.ajax({
                    url: '{{ url_for(".batch_delete_goods") }}',
                    type: "post",
                    data: {'checkID': checkID},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    },
                    success: function (data) {
                        document.location.reload()
                    }
                })
            })
        })


        /**
         * 检索
         */
        $("#search").on('click', function () {
            link_url = "{{ url_for(".manage_goods") }}/" + parent_id
            $(".mainbody").load($.trim(link_url))
        })

        $(function () {
            category_url = "{{ url_for("admin.get_cate") }}"
            load_cate(0)
        })

        {# 页面加载后将被推荐的商品改成橙色样式 #}
        window.onload = function () {
            {% for goods in pagination.items %}
                {% if goods.is_recommend!=None %}
                    $(".goods_{{ goods.goods_id }}").css({
                        "color": "orange",
                        "border": "1px solid orange",
                        "font-size": "1.1em"
                    })
                {% endif %}
            {% endfor %}
        }
    </script>
    <script type="text/javascript" src="{{ url_for("static" ,filename="js/category.js") }}"></script>
{% endblock %}