{% extends "member/member_base.html" %}
{% block title %}
    <title>清心涟漪 | 用户中心 | 创建订单</title>
{% endblock %}

{% block style %}
    <style type="text/css">
        .address_li {
            height: auto;
            line-height: 32px;
            list-style-type: none;
        }

        .goods_thumb {
            height: 180px;
            width: 180px;
        }
    </style>
{% endblock %}

{% block  content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{{ url_for("index") }}"><i class="fa fa-home"></i> 主页</a>
                        <span><a href="{{ url_for("member.center_index") }}"> 用户中心</a></span>
                        <span><a href="{{ url_for("member.cart_list") }}"> 我的购物车</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main col-xl-5 col-lg-6 col-md-7 col-sm-8 col-9">
                <h2 class="text-center"><b>创建订单</b></h2>
                <ul class="list-unstyled my-4">
                    {% for cart in cart_list %}
                        <li class="mt-3 media">
                            <img class="mr-4 goods_thumb" src="/uploads/{{ cart.goods.thumb }}" alt="">
                            <div class="media-body">
                                <h4 class="mt-0 mb-1"><b>{{ cart.goods.goods_title }}</b></h4>
                                <br>
                                <p>优惠价：<span class="price">{{ cart.goods.price }} </span>元</p>
                                <p>购买数量：{{ cart.amount }} 件 <a href="{{ url_for('member.cart_list') }}">返回购物车</a></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="text-right"><b>订单总价：{{ total_price }}元</b></div>
                <hr>
                <form action="{{ url_for("member.create_order") }}" id="order_form" method="post">
                    <div class="form-group">
                        <label for="address"><b>选择地址：</b></label>
                        <ul id="address_list">
                            {% for address in addresses %}
                                <li class="address_li"><label class="radio">
                                    <input type="radio" name="addresses" id="add_{{ address.id }}"
                                           value="{{ address.receiver }}：{{ address.mobile }}：{{ address.address }}"/>
                                    {{ address.receiver }}，{{ address.mobile }}，{{ address.address }}
                                </label></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        {{ form.receiver.label }}
                        {{ form.receiver(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.mobile.label }}
                        {{ form.mobile(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.address.label }}
                        {{ form.address(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.payment }}
                        {{ form.csrf_token }}
                    </div>
                </form>
                <div class="row pull-right">
                    <span type="button" class="btn btn-primary alipay-btn" data-payment="alipay">支付宝</span>　
                    <span type="button" class="btn btn-success wxpay-btn" data-payment="wxpay">微信支付</span>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script>

        $(document).ready(function () {
            $('input[type=radio][name="addresses"]').change(function () {
                var addr = $('input:radio[name="addresses"]:checked').val()
                receiver = addr.split("：")[0]
                mobile = addr.split("：")[1]
                address = addr.split("：")[2]
                console.log(receiver, mobile, address)
                $('#receiver').val(receiver)
                $('#mobile').val(mobile)
                $('#address').val(address)
            })
        })
        $('.btn').on('click', function () {
            console.log("click")
            $("[name='payment']").val($(this).data('payment'))
            console.log($("[name='payment']").val())
            $("#order_form").submit()
        })
    </script>
{% endblock %}